flows.json
[
    {
        "id": "bad884224e506c92",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e74e92a02b97c7a",
        "type": "watson-assistant-v2",
        "z": "bad884224e506c92",
        "name": "Meu bot WA",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/c6e236e8-cce3-4def-a50a-18af566b3eda",
        "assistant_id": "55aa7025-01b6-4cf9-b79c-e724dd572a67",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "6fe7f0297b2c138f"
            ]
        ]
    },
    {
        "id": "9b48a3d750891a35",
        "type": "inject",
        "z": "bad884224e506c92",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Qual é a treta?",
        "payloadType": "str",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "4e74e92a02b97c7a",
                "375253d674de5688"
            ]
        ]
    },
    {
        "id": "375253d674de5688",
        "type": "debug",
        "z": "bad884224e506c92",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "6fe7f0297b2c138f",
        "type": "debug",
        "z": "bad884224e506c92",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 300,
        "wires": []
    }
]