flows-allFlow-27042026.json
[
    {
        "id": "52d8315118674d22",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acb5f81074f26764",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e53f196d320b50d7",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "37f9b03439a50de3",
        "type": "telegram bot",
        "botname": "VendasNezaoBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "f7c4e774aada19ed",
        "type": "telegram receiver",
        "z": "52d8315118674d22",
        "name": "MeuTelegram",
        "bot": "37f9b03439a50de3",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "044b68cdb03d281c",
                "e1597066fa9253ad"
            ],
            [
                "c3aa6181acd6f68d"
            ]
        ]
    },
    {
        "id": "044b68cdb03d281c",
        "type": "debug",
        "z": "52d8315118674d22",
        "name": "Entrada no Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 80,
        "wires": []
    },
    {
        "id": "5a76fee83e4b2cf0",
        "type": "telegram sender",
        "z": "52d8315118674d22",
        "name": "Enviador",
        "bot": "37f9b03439a50de3",
        "haserroroutput": false,
        "outputs": 1,
        "x": 740,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6e51922d83327406",
        "type": "debug",
        "z": "52d8315118674d22",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "8bde595bc8735f7a",
        "type": "watson-assistant-v2",
        "z": "52d8315118674d22",
        "name": "Meu Bot CP1",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/c6e236e8-cce3-4def-a50a-18af566b3eda",
        "assistant_id": "2c848f10-57e8-47f4-9f31-24c5a4ce3f71",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "6e51922d83327406",
                "6e72aff2d8ea0adb"
            ]
        ]
    },
    {
        "id": "b94b0478ebba2999",
        "type": "function",
        "z": "52d8315118674d22",
        "name": "Normalizar / Contexto",
        "func": "msg.params = {\n    \"session_id\": msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"\n};\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d5f330a256ab4ac9",
        "type": "function",
        "z": "52d8315118674d22",
        "name": "Tracar resposta / rotas + teclado",
        "func": "msg.payload = {\n    chatId: msg.chatId,\n    type: 'message',\n    content: msg.payload.output.generic[0].text\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e1597066fa9253ad",
        "type": "change",
        "z": "52d8315118674d22",
        "name": "Prepara Entrada",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 260,
        "wires": [
            [
                "8bde595bc8735f7a"
            ]
        ]
    },
    {
        "id": "6e72aff2d8ea0adb",
        "type": "change",
        "z": "52d8315118674d22",
        "name": "Prepara Retorno",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 260,
        "wires": [
            [
                "5a76fee83e4b2cf0"
            ]
        ]
    },
    {
        "id": "c3aa6181acd6f68d",
        "type": "function",
        "z": "52d8315118674d22",
        "name": "Acesso nao autorizado",
        "func": "msg.payload.content = \"Voce não e um usuario autorizado\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 380,
        "wires": [
            [
                "5a76fee83e4b2cf0"
            ]
        ]
    },
    {
        "id": "5ce55f9b9fc586a1",
        "type": "telegram receiver",
        "z": "acb5f81074f26764",
        "name": "",
        "bot": "37f9b03439a50de3",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "b2b2a448fe994c0d",
                "94dbfbeb2d22fa54"
            ],
            []
        ]
    },
    {
        "id": "94dbfbeb2d22fa54",
        "type": "function",
        "z": "acb5f81074f26764",
        "name": "Proc Entrada",
        "func": "msg.payload = msg.payload.weblink\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 340,
        "wires": [
            [
                "49532099fccd4adc",
                "c533a2ac75b871b6"
            ]
        ]
    },
    {
        "id": "b2b2a448fe994c0d",
        "type": "debug",
        "z": "acb5f81074f26764",
        "name": "Entrada Audio",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 80,
        "wires": []
    },
    {
        "id": "c533a2ac75b871b6",
        "type": "debug",
        "z": "acb5f81074f26764",
        "name": "Saida Texto",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "49532099fccd4adc",
        "type": "watson-speech-to-text",
        "z": "acb5f81074f26764",
        "name": "Watson STT",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "DtnYGqGiSW-nqPaahznBChYjQKMN9MYBJy9iHjJIFElD",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/fe4f4d49-8e46-4325-843e-1ef4e47dd781",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "1d16e3c2a0dbc432"
            ]
        ]
    },
    {
        "id": "1d16e3c2a0dbc432",
        "type": "debug",
        "z": "acb5f81074f26764",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "b0e349008e38a47e",
        "type": "watson-text-to-speech",
        "z": "e53f196d320b50d7",
        "name": "TTS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_CamilaNatural",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "tJ1n2WVUN68Lxhm3qGnC8hRRUP9wuk0Vk6ylVPakCmE5",
        "payload-response": true,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/dd1d0638-1d3b-4872-8093-3a1f898b567d",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "fbdbaa2df227402c",
                "f06b677e5524b6a9",
                "490a1bb4b465593e"
            ]
        ]
    },
    {
        "id": "f06b677e5524b6a9",
        "type": "play audio",
        "z": "e53f196d320b50d7",
        "name": "",
        "voice": "11",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "fbdbaa2df227402c",
        "type": "debug",
        "z": "e53f196d320b50d7",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "9d06db9cc535f7de",
        "type": "inject",
        "z": "e53f196d320b50d7",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Oi eu sou a Camila",
        "payloadType": "str",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "b0e349008e38a47e"
            ]
        ]
    },
    {
        "id": "490a1bb4b465593e",
        "type": "function",
        "z": "e53f196d320b50d7",
        "name": "function 1",
        "func": "msg.payload = {\n    chatId: \"8711577349\",\n    type: \"voice\",\n    content: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            [
                "6be82c0176dd914e",
                "11712cb1047e239b"
            ]
        ]
    },
    {
        "id": "11712cb1047e239b",
        "type": "telegram sender",
        "z": "e53f196d320b50d7",
        "name": "Resposta Telegran",
        "bot": "37f9b03439a50de3",
        "haserroroutput": false,
        "outputs": 1,
        "x": 670,
        "y": 340,
        "wires": [
            [
                "0017519110df432b"
            ]
        ]
    },
    {
        "id": "6be82c0176dd914e",
        "type": "debug",
        "z": "e53f196d320b50d7",
        "name": "Resposta enviada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "0017519110df432b",
        "type": "debug",
        "z": "e53f196d320b50d7",
        "name": "Resposta recebida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 80,
        "wires": []
    }
]