Aula04052026/STTeTTS-ExercicioDesafio.json
[
    {
        "id": "441a5d00047c4614",
        "type": "tab",
        "label": "Telegram STT e TTS",
        "disabled": false,
        "info": "Fluxo reconstruído a partir do material enviado."
    },
    {
        "id": "083ec51fbe704a5f",
        "type": "telegram receiver",
        "z": "441a5d00047c4614",
        "name": "Telegram receiver",
        "bot": "2fb260d5851f4070",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "6843a83aa13f4503",
                "9c8b69309c2a4e54"
            ],
            []
        ]
    },
    {
        "id": "6843a83aa13f4503",
        "type": "debug",
        "z": "441a5d00047c4614",
        "name": "Entrada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "9c8b69309c2a4e54",
        "type": "switch",
        "z": "441a5d00047c4614",
        "name": "switch",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "c6d9d3f14a354b5a"
            ],
            [
                "4d799cf0fbd44b2d"
            ]
        ]
    },
    {
        "id": "c6d9d3f14a354b5a",
        "type": "function",
        "z": "441a5d00047c4614",
        "name": "ProcIN STT",
        "func": "msg.params = {};\nmsg.params.session_id = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "6b03917001ad47a7"
            ]
        ]
    },
    {
        "id": "6b03917001ad47a7",
        "type": "debug",
        "z": "441a5d00047c4614",
        "name": "Entrada STT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "b81cc861d2074793",
        "type": "watson-speech-to-text",
        "z": "441a5d00047c4614",
        "name": "STT",
        "alternatives": "",
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "",
        "word-confidence": false,
        "apikey": "DtnYGqGiSW-nqPaahznBChYjQKMN9MYBJy9iHjJIFElD",
        "payload-response": true,
        "streaming-mode": true,
        "streaming-mute": false,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/fe4f4d49-8e46-4325-843e-1ef4e47dd781",
        "x": 910,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ae45826635c54024",
        "type": "function",
        "z": "441a5d00047c4614",
        "name": "ProcOUT STT",
        "func": "msg.payload = {\n    chatId : msg.params,\n    content : msg.payload,\n    type : 'message'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 200,
        "wires": [
            [
                "7795ab95283c44d2"
            ]
        ]
    },
    {
        "id": "7795ab95283c44d2",
        "type": "debug",
        "z": "441a5d00047c4614",
        "name": "Retorno STT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 40,
        "wires": []
    },
    {
        "id": "4d799cf0fbd44b2d",
        "type": "function",
        "z": "441a5d00047c4614",
        "name": "ProcIN TTS",
        "func": "msg.params = {};\nmsg.params.session_id = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 420,
        "wires": [
            [
                "4811664748194329",
                "57bec36c3e32df51"
            ]
        ]
    },
    {
        "id": "4811664748194329",
        "type": "debug",
        "z": "441a5d00047c4614",
        "name": "Entrada TTS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "f26debad48e1476b",
        "type": "watson-text-to-speech",
        "z": "441a5d00047c4614",
        "name": "TTS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_CamilaNatural",
        "voicehidden": "",
        "format": "audio/wav",
        "apikey": "tJ1n2WVUN68Lxhm3qGnC8hRRUP9wuk0Vk6ylVPakCmE5",
        "payload-response": true,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/dd1d0638-1d3b-4872-8093-3a1f898b567d",
        "x": 1070,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "955095b0fefd4ba6",
        "type": "function",
        "z": "441a5d00047c4614",
        "name": "ProcOUT TTS",
        "func": "msg.payload = {\n    chatId: msg.params,\n    content: msg.payload,\n    type: 'message'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 380,
        "wires": [
            [
                "c46324b206dd48ec",
                "a72a2be74b4c4857"
            ]
        ]
    },
    {
        "id": "c46324b206dd48ec",
        "type": "debug",
        "z": "441a5d00047c4614",
        "name": "Retorno TTS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "a72a2be74b4c4857",
        "type": "telegram sender",
        "z": "441a5d00047c4614",
        "name": "Telegram sender",
        "bot": "2fb260d5851f4070",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1030,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "57bec36c3e32df51",
        "type": "watson-assistant-v2",
        "z": "441a5d00047c4614",
        "name": "WA",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/c6e236e8-cce3-4def-a50a-18af566b3eda",
        "assistant_id": "2c848f10-57e8-47f4-9f31-24c5a4ce3f71",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "955095b0fefd4ba6"
            ]
        ]
    },
    {
        "id": "2fb260d5851f4070",
        "type": "telegram bot",
        "botname": "BOT_AJUSTAR",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]