Aula04052026/Telegram_STT_TTS.json
[
    {
        "id": "441a5d00047c4614",
        "type": "tab",
        "label": "Telegram STT e TTS",
        "disabled": false,
        "info": "Fluxo reconstruído a partir do material enviado."
    },
    {
        "id": "083ec51fbe704a5f",
        "type": "telegram receiver",
        "z": "441a5d00047c4614",
        "name": "Telegram receiver",
        "bot": "2fb260d5851f4070",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "6843a83aa13f4503",
                "9c8b69309c2a4e54"
            ],
            []
        ]
    },
    {
        "id": "6843a83aa13f4503",
        "type": "debug",
        "z": "441a5d00047c4614",
        "name": "Entrada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "9c8b69309c2a4e54",
        "type": "switch",
        "z": "441a5d00047c4614",
        "name": "switch",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "c6d9d3f14a354b5a"
            ],
            [
                "4d799cf0fbd44b2d"
            ]
        ]
    },
    {
        "id": "c6d9d3f14a354b5a",
        "type": "function",
        "z": "441a5d00047c4614",
        "name": "ProcIN STT",
        "func": "msg.params = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 110,
        "wires": [
            [
                "6b03917001ad47a7",
                "b81cc861d2074793"
            ]
        ]
    },
    {
        "id": "6b03917001ad47a7",
        "type": "debug",
        "z": "441a5d00047c4614",
        "name": "Entrada STT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "b81cc861d2074793",
        "type": "watson-speech-to-text",
        "z": "441a5d00047c4614",
        "name": "STT",
        "alternatives": "",
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "",
        "langcustomhidden": "",
        "custom-weight": "",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "",
        "word-confidence": false,
        "apikey": "",
        "payload-response": false,
        "streaming-mode": false,
        "streaming-mute": false,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "",
        "x": 810,
        "y": 110,
        "wires": [
            [
                "ae45826635c54024"
            ]
        ]
    },
    {
        "id": "ae45826635c54024",
        "type": "function",
        "z": "441a5d00047c4614",
        "name": "ProcOUT STT",
        "func": "msg.payload = {\n    chatId : msg.params,\n    content : msg.payload,\n    type : 'message'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 110,
        "wires": [
            [
                "7795ab95283c44d2",
                "a72a2be74b4c4857"
            ]
        ]
    },
    {
        "id": "7795ab95283c44d2",
        "type": "debug",
        "z": "441a5d00047c4614",
        "name": "Retorno STT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 70,
        "wires": []
    },
    {
        "id": "4d799cf0fbd44b2d",
        "type": "function",
        "z": "441a5d00047c4614",
        "name": "ProcIN TTS",
        "func": "msg.params = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 190,
        "wires": [
            [
                "4811664748194329",
                "f26debad48e1476b"
            ]
        ]
    },
    {
        "id": "4811664748194329",
        "type": "debug",
        "z": "441a5d00047c4614",
        "name": "Entrada TTS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "f26debad48e1476b",
        "type": "watson-text-to-speech",
        "z": "441a5d00047c4614",
        "name": "TTS",
        "lang": "pt-br",
        "langhidden": "",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "apikey": "",
        "payload-response": false,
        "service-endpoint": "",
        "x": 810,
        "y": 190,
        "wires": [
            [
                "955095b0fefd4ba6"
            ]
        ]
    },
    {
        "id": "955095b0fefd4ba6",
        "type": "function",
        "z": "441a5d00047c4614",
        "name": "ProcOUT TTS",
        "func": "msg.payload = {\n    chatId : msg.params,\n    content : msg.payload,\n    type : 'voice'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 190,
        "wires": [
            [
                "c46324b206dd48ec",
                "a72a2be74b4c4857"
            ]
        ]
    },
    {
        "id": "c46324b206dd48ec",
        "type": "debug",
        "z": "441a5d00047c4614",
        "name": "Retorno TTS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 230,
        "wires": []
    },
    {
        "id": "a72a2be74b4c4857",
        "type": "telegram sender",
        "z": "441a5d00047c4614",
        "name": "Telegram sender",
        "bot": "2fb260d5851f4070",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1240,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "2fb260d5851f4070",
        "type": "telegram bot",
        "botname": "BOT_AJUSTAR",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]